<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav>
    <a routerLink='/main' routerLinkActive="active">首页</a>
    <a routerLink='/login' routerLinkActive="active">登录</a>
    <a routerLink='/register' routerLinkActive="active">注册</a>
    <a routerLink="/search" routerLinkActive="active">搜索列表</a>
    <a routerLink="/personal-center" routerLinkActive="active">个人中心</a>
    <a routerLink='/list-item' routerLinkActive="active">物品详情</a>
    <a routerLink='/publish' routerLinkActive="active">发布</a>
    <a routerLink='/ask-buy' routerLinkActive="active">求购</a>
    <a routerLink="/other" routerLinkActive="active">other</a>
  </nav>
  <div>
    <router-outlet>

    </router-outlet>
  </div>
</div>

